.main-page{
    background-color: rgb(0, 0, 0);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;

    color: rgb(255, 255, 255);
    padding-top: 190px;
    padding-bottom: 190px;
}

.left-main-page{
    flex: 1;
}

.my-picture{
    background-color: blueviolet;
    height: 400px;
    width: 240px;
    margin-left: 20px;
    margin-right: 40px;
}

.about-me{
    background-color: rgba(0, 0, 0, 0.5);
    width: 700px;
    margin-right: 20px;
    padding: 30px;
}

.right-main-page{
    flex: 1;
}