.projects-page{
    background-color: rgb(27, 18, 97);
    color: white;
    padding-top: 80px;
    padding-bottom: 60px;
}

.projects-title{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 70px;
    text-align: center;
}

.project-picture{
    height: 400px;
    width: 240px;
    margin-left: 20px;
    margin-right: 40px;
}

.project-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.project-1-video{
    margin-left: 20px;
}

.project-1-sum{
    background-color: rgb(12, 7, 52);
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
}

.project-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.project-2-video{
    margin-right: 20px;
}

.project-2-sum{
    background-color: rgb(16, 9, 71);
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
}

.project-3{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.project-3-photo{
    background-color: blueviolet;
    height: 240px;
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
}

.project-3-sum{
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
}

.project-mapp-photo{
    background-color: transparent;
    height: 180px;
    width: 450px;
    margin-top: 30px;
    margin-right: 20px;
    object-fit: cover;
}

.project-link{
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    border-radius: 20px;
    height: 70px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
.project-link:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.project-link:active{
    background-color: rgba(255, 255, 255, 0.25);
}

.exciting-projects-page{
    background-color: rgb(90, 25, 90);
    color: white;
    padding-top: 80px;
    padding-bottom: 60px;
}

.incoming-projects-page{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(31, 21, 109);
    color: white;
    padding-top: 80px;
    padding-bottom: 60px;
}

.read-more-less{
    background-color: transparent;
    color: white;
    font-family: system-ui;
    font-weight: 400;
    font-size: 14px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    margin-right: 7%;
    border-color: rgb(169, 156, 189);
    border-width: 2px;
    border-radius: 10px;
    padding-bottom: 4px;
    cursor: pointer;
}
.read-more-less:hover{
    background-color: rgba(47, 36, 124, 1);
}
.read-more-less:active{
    background-color: rgba(47, 36, 124, 0.5);
}
