.welcome-page{
    background-color: rgb(31, 21, 109);
    color: white;
    display: flex;
    flex-direction: row;

    padding-top: 160px;
    padding-bottom: 120px;
}


.welcome-div{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 170px 90px;
    margin-left: 50px;
    margin-right: 50px;
}